# WAHA Configuration
WAHA_PORT=3000
WAHA_PHONE=your_phone_number

# Personal Bot Configuration
PORT=3001
WAHA_API_URL=http://waha-whatsapp:3000/api/sendText
WAHA_API_KEY=your_waha_api_key

# Actual Budget
ACTUAL_BUDGET_URL=http://budget-service:3001
ACTUAL_BUDGET_PASSWORD=***
ACTUAL_BUDGET_ID=your_budget_id
ACTUAL_ACCOUNT_ID=your_account_id

# Gemini AI
GEMINI_API_KEY=your_gemini_api_key
